<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-02-28 10:53)</string>
	<string>M3.2-1861-1</string>
	<string>G1GL97</string>
	<string>G1GL99</string>
	<string>G1GL100</string>
	<string>Gbuild/Release</string>
	<string>M3.2-1861-1</string>
	<string>G1GN59</string>
	<string>G1GO129</string>
	<string>M3.5.2-2118-1</string>
	<string>G-r8-1GP145</string>
</array>
</plist>
